# Banco de dados (local)
DATABASE_URL="mysql://root:rootpassword@localhost:3306/lista_compras"

# Banco de dados (Docker interno)
DATABASE_URL_DOCKER="mysql://root:rootpassword@mysql:3306/lista_compras"

# Porta da API
PORT=3000

# Google OAuth
GOOGLE_CLIENT_ID="seu-google-client-id.apps.googleusercontent.com"

# CORS
CORS_ORIGIN="http://localhost:3001"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_..."
CLERK_SECRET_KEY="sk_test_..."
